### To do: find county-city-neighborhood crosswalk to add more features

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
matHealth = pd.read_csv('PAHealth_MaternalChildHealth_20221114.csv').iloc[:, 1:]
print(matHealth.shape)
matHealth.head()

(68, 49)

,County0,MICH-01_2011-2015,MICH-01_2012-2016,MICH-01_2013-2017,MICH-01_2014-2018,MICH-01_2015-2019,MICH-01_MetGoal,MICH-02_2011-2015,MICH-02_2012-2016,MICH-02_2013-2017,...,MICH-10_2013-2017,MICH-10_2014-2018,MICH-10_2015-2019,MICH-10_MetGoal,MICH-13_2011-2015,MICH-13_2012-2016,MICH-13_2013-2017,MICH-13_2014-2018,MICH-13_2015-2019,MICH-13_MetGoal
0,Pennsylvania,6.5,6.4,6.2,6.1,6.0,No,6.5,6.4,6.2,...,6.2,6.1,6.0,No,6.5,6.4,6.2,6.1,6.0,No
1,Adams,3.8,3.7,4.8,5.7,4.7,Yes,3.8,3.7,4.8,...,4.8,5.7,4.7,Yes,3.8,3.7,4.8,5.7,4.7,Yes
2,Allegheny,6.1,6.1,6.1,5.9,6.0,No,6.1,6.1,6.1,...,6.1,5.9,6.0,No,6.1,6.1,6.1,5.9,6.0,No
3,Armstrong,4.6,5.7,5.8,4.3,6.3,No,4.6,5.7,5.8,...,5.8,4.3,6.3,No,4.6,5.7,5.8,4.3,6.3,No
4,Beaver,7.2,6.8,6.6,6.4,7.2,No,7.2,6.8,6.6,...,6.6,6.4,7.2,No,7.2,6.8,6.6,6.4,7.2,No

In [9]:
goals_met = matHealth[[m for m in matHealth.columns if 'MetGoal' in m]].replace({'No':0, 'Yes':1})
goals_met['Total_MetGoals'] = goals_met.sum(axis=1)
goals_met.head()

,MICH-01_MetGoal,MICH-02_MetGoal,MICH-03_MetGoal,MICH-06_MetGoal,MICH-07_MetGoal,MICH-08_MetGoal,MICH-10_MetGoal,MICH-13_MetGoal,Total_MetGoals
0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,8
2,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0

In [10]:
goals_met['Total_MetGoals'].value_counts()

0                           38
8                           15
DSUDSUDSUDSUDSUDSUDSUDSU    15
Name: Total_MetGoals, dtype: int64

In [11]:
cols = ['County0']
cols.extend([m for m in matHealth.columns if '2019' in m])
cols

['County0',
 'MICH-01_2015-2019',
 'MICH-02_2015-2019',
 'MICH-03_2015-2019',
 'MICH-06_2015-2019',
 'MICH-07_2015-2019',
 'MICH-08_2015-2019',
 'MICH-10_2015-2019',
 'MICH-13_2015-2019']

In [12]:
outcomes = matHealth[cols]
outcomes['MetGoals_Reached'] = matHealth['MICH-01_MetGoal'].replace({'Yes': 1, 'No': 0})
outcomes.rename(columns={'County0': 'County'}, inplace=True)
outcomes

C:\Users\cyn\AppData\Local\Temp\ipykernel_10980\3056945749.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outcomes['MetGoals_Reached'] = matHealth['MICH-01_MetGoal'].replace({'Yes': 1, 'No': 0})
C:\Users\cyn\AppData\Local\Temp\ipykernel_10980\3056945749.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outcomes.rename(columns={'County0': 'County'}, inplace=True)

,County,MICH-01_2015-2019,MICH-02_2015-2019,MICH-03_2015-2019,MICH-06_2015-2019,MICH-07_2015-2019,MICH-08_2015-2019,MICH-10_2015-2019,MICH-13_2015-2019,MetGoals_Reached
0,Pennsylvania,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,0
1,Adams,4.7,4.7,4.7,4.7,4.7,4.7,4.7,4.7,1
2,Allegheny,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,0
3,Armstrong,6.3,6.3,6.3,6.3,6.3,6.3,6.3,6.3,0
4,Beaver,7.2,7.2,7.2,7.2,7.2,7.2,7.2,7.2,0
...,...,...,...,...,...,...,...,...,...,...
63,Washington,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,1
64,Wayne,DSU,DSU,DSU,DSU,DSU,DSU,DSU,DSU,DSU
65,Westmoreland,4.8,4.8,4.8,4.8,4.8,4.8,4.8,4.8,1
66,Wyoming,DSU,DSU,DSU,DSU,DSU,DSU,DSU,DSU,DSU
67,York,5.4,5.4,5.4,5.4,5.4,5.4,5.4,5.4,0

In [13]:
features = pd.read_csv('./pa_health_gov_data.csv')
print(features.shape)
features.head()

(68, 27)

,county_name,population,pop_change_2010,perc_under_18,perc_csec,perc_lowbirth,perc_prenat_1tri,perc_preterm,perc_non_smoke,fert_15_44,...,chlam_per_100000,gono_per_100000,perc_smoker,hiv_tested,perc_no_healthins,perc_obese,perc_routine_checkup,beds_per_1000,inpatient_occupancy_rate,admission_per_1000
0,Adams,103009.0,1.6,19.9,29.5,7.8,75.6,9.6,87.7,55.7,...,195.0,34.1,17.0,39.0,14.0,32.0,83.0,0.7,62.5,46.5
1,Allegheny,1216045.0,-0.6,18.8,29.7,8.5,86.9,9.6,90.8,55.1,...,469.8,157.7,18.0,45.0,6.0,30.0,89.0,3.8,72.7,170.0
2,Armstrong,64735.0,-6.1,19.0,33.7,8.0,75.0,9.0,79.6,57.8,...,179.9,36.3,21.0,37.0,8.0,39.0,89.0,2.2,31.3,59.7
3,Beaver,163929.0,-3.9,19.1,33.7,7.4,79.6,9.0,83.5,58.5,...,343.8,101.3,21.0,40.0,8.0,34.0,86.0,1.7,48.2,69.3
4,Bedford,47888.0,-3.8,19.2,27.5,5.7,77.9,7.2,83.3,62.2,...,136.3,13.8,19.0,37.0,7.0,34.0,88.0,0.5,42.9,23.9

In [42]:
merged = pd.merge(features, outcomes[['County', 'MetGoals_Reached']],
        how='inner', left_on='county_name', right_on='County').drop(columns='County')
merged.columns

Index(['county_name', 'population', 'pop_change_2010', 'perc_under_18',
       'perc_csec', 'perc_lowbirth', 'perc_prenat_1tri', 'perc_preterm',
       'perc_non_smoke', 'fert_15_44', 'birth_rate_15_19', 'birth_rate_20_24',
       'birth_rate_25_29', 'birth_rate_30_34', 'birth_date_35_39',
       'birth_rate_40_44', 'all_cause_death', 'chlam_per_100000',
       'gono_per_100000', 'perc_smoker', 'hiv_tested', 'perc_no_healthins',
       'perc_obese', 'perc_routine_checkup', 'beds_per_1000',
       'inpatient_occupancy_rate', 'admission_per_1000', 'MetGoals_Reached'],
      dtype='object')

In [89]:
adi = pd.read_csv('neighborhood_ADI.csv', encoding='latin1')
print(adi.shape)
pd.unique(adi['EconomicStatus'])

(90, 2)

array(['Low Disadvantage', 'High Disadvantage', 'Very Low Disadvantage',
       'Extreme Disadvantage', 'Moderate Disadvantage', nan], dtype=object)

In [83]:
df = merged.sample(frac=2, random_state=123, replace = True)
y_outcome = merged.loc[merged['MetGoals_Reached'] == 1].sample(frac=3, random_state=123, replace=True).reset_index(False)
dsu_outcome = merged.loc[merged['MetGoals_Reached'] == 'DSU'].sample(frac=2.5, random_state = 123, replace=True).reset_index(False)
df2 = pd.concat([df, y_outcome, dsu_outcome], ignore_index=True).drop(columns='index')
df2.replace({'.':None}, inplace=True)
df2.shape

(219, 28)

In [82]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   county_name               219 non-null    object
 1   population                219 non-null    float64
 2   pop_change_2010           219 non-null    float64
 3   perc_under_18             219 non-null    float64
 4   perc_csec                 219 non-null    float64
 5   perc_lowbirth             211 non-null    object
 6   perc_prenat_1tri          219 non-null    float64
 7   perc_preterm              219 non-null    float64
 8   perc_non_smoke            219 non-null    float64
 9   fert_15_44                219 non-null    float64
 10  birth_rate_15_19          214 non-null    object
 11  birth_rate_20_24          219 non-null    float64
 12  birth_rate_25_29          219 non-null    float64
 13  birth_rate_30_34          219 non-null    float64
 14  birth_date_35_39          214 non-null    object
 15  birth_rate_40_44          196 non-null    object
 16  all_cause_death           219 non-null    float64
 17  chlam_per_100000          219 non-null    float64
 18  gono_per_100000           183 non-null    object
 19  perc_smoker               219 non-null    float64
 20  hiv_tested                219 non-null    float64
 21  perc_no_healthins         219 non-null    float64
 22  perc_obese                219 non-null    float64
 23  perc_routine_checkup      219 non-null    float64
 24  beds_per_1000             219 non-null    float64
 25  inpatient_occupancy_rate  187 non-null    object
 26  admission_per_1000        219 non-null    float64
 27  MetGoals_Reached          219 non-null    object
dtypes: float64(20), object(8)
memory usage: 48.0+ KB

In [63]:
df2['MetGoals_Reached'].value_counts()

0      75
DSU    75
1      69
Name: MetGoals_Reached, dtype: int64

In [84]:
df2.to_csv('health_outcomes.csv', index=False)