### To do: find county-city-neighborhood crosswalk to add more features

In [109]:
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [110]:
matHealth = pd.read_csv('PAHealth_MaternalChildHealth_20221127.csv').iloc[:, 1:]
print(matHealth.shape)
matHealth.head()

(68, 49)

,County0,MICH-01_2011-2015,MICH-01_2012-2016,MICH-01_2013-2017,MICH-01_2014-2018,MICH-01_2015-2019,MICH-01_MetGoal,MICH-02_2011-2015,MICH-02_2012-2016,MICH-02_2013-2017,...,MICH-10_2013-2017,MICH-10_2014-2018,MICH-10_2015-2019,MICH-10_MetGoal,MICH-13_2011-2015,MICH-13_2012-2016,MICH-13_2013-2017,MICH-13_2014-2018,MICH-13_2015-2019,MICH-13_MetGoal
0,Pennsylvania,6.1,6.1,5.9,5.9,5.9,No,6.5,6.4,6.2,...,87.4,88.2,89.0,No,44.4,43.6,42.8,42.0,39.9,No
1,Adams,4.8,5.3,4.4,6.0,5.9,No,3.8,3.7,4.8,...,85.8,87.0,87.7,No,44.5,41.4,42.6,40.7,36.8,No
2,Allegheny,5.6,5.7,5.4,5.4,5.5,Yes,6.1,6.1,6.1,...,89.0,89.8,90.8,No,31.7,29.4,32.5,32.7,24.7,No
3,Armstrong,4.9,5.6,6.4,6.9,7.9,No,4.6,5.7,5.8,...,76.9,78.1,79.6,No,36.6,34.2,35.6,32.0,30.6,No
4,Beaver,7.6,7.3,6.9,7.3,6.4,No,7.2,6.8,6.6,...,80.9,82.5,83.5,No,41.2,41.8,37.4,39.2,33.8,No

In [118]:
goals_met = matHealth[[m for m in matHealth.columns if 'MetGoal' in m]].replace({'No':0, 'Yes':1, 'DSU': None})
goals_met['Total_MetGoals'] = goals_met.sum(axis=1)
goals_met.head()

,MICH-01_MetGoal,MICH-02_MetGoal,MICH-03_MetGoal,MICH-06_MetGoal,MICH-07_MetGoal,MICH-08_MetGoal,MICH-10_MetGoal,MICH-13_MetGoal,Total_MetGoals
0,0.0,0.0,0.0,0.0,0,0,0,0,0.0
1,0.0,1.0,1.0,0.0,1,1,0,0,4.0
2,1.0,0.0,0.0,0.0,0,1,0,0,2.0
3,0.0,0.0,0.0,0.0,0,1,0,0,1.0
4,0.0,0.0,0.0,0.0,1,1,0,0,2.0

In [119]:
goals_met['Total_MetGoals'].value_counts()

2.0    22
1.0    15
0.0    13
3.0    11
4.0     3
5.0     3
6.0     1
Name: Total_MetGoals, dtype: int64

In [116]:
cols = ['County0']
cols.extend([m for m in matHealth.columns if '2019' in m])
cols

['County0',
 'MICH-01_2015-2019',
 'MICH-02_2015-2019',
 'MICH-03_2015-2019',
 'MICH-06_2015-2019',
 'MICH-07_2015-2019',
 'MICH-08_2015-2019',
 'MICH-10_2015-2019',
 'MICH-13_2015-2019']

In [128]:
outcomes = matHealth[cols]
outcomes['Total_MetGoals'] = goals_met['Total_MetGoals']
outcomes['MetGoal_Reached'] = (outcomes['Total_MetGoals'] > 0).astype(int)
outcomes.rename(columns={'County0': 'County'}, inplace=True)
outcomes

,County,MICH-01_2015-2019,MICH-02_2015-2019,MICH-03_2015-2019,MICH-06_2015-2019,MICH-07_2015-2019,MICH-08_2015-2019,MICH-10_2015-2019,MICH-13_2015-2019,Total_MetGoals,MetGoal_Reached
0,Pennsylvania,5.9,6.0,24.3,26.4,9.6,74.7,89.0,39.9,0.0,0
1,Adams,5.9,4.7,15.4,23.8,9.4,83.4,87.7,36.8,4.0,1
2,Allegheny,5.5,6.0,27.4,28.5,9.9,87.2,90.8,24.7,2.0,1
3,Armstrong,7.9,6.3,31.8,28.9,9.7,82.4,79.6,30.6,1.0,1
4,Beaver,6.4,7.2,21.8,32.8,8.8,82.3,83.5,33.8,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...
63,Washington,6.2,5.0,26.1,28.6,9.1,77.4,82.8,38.0,2.0,1
64,Wayne,DSU,DSU,DSU,24.3,8.8,85.9,83.4,40.7,2.0,1
65,Westmoreland,5.5,4.8,26.4,27.3,9.1,88.6,84.5,32.7,4.0,1
66,Wyoming,12.3,DSU,DSU,23.4,9.7,83.8,76.9,39.2,2.0,1
67,York,4.5,5.4,28.2,25.0,10.0,79.1,88.6,38.3,1.0,1

In [129]:
features = pd.read_csv('./pa_health_gov_data.csv')
print(features.shape)
features.head()

(68, 27)

,county_name,population,pop_change_2010,perc_under_18,perc_csec,perc_lowbirth,perc_prenat_1tri,perc_preterm,perc_non_smoke,fert_15_44,...,chlam_per_100000,gono_per_100000,perc_smoker,hiv_tested,perc_no_healthins,perc_obese,perc_routine_checkup,beds_per_1000,inpatient_occupancy_rate,admission_per_1000
0,Adams,103009.0,1.6,19.9,29.5,7.8,75.6,9.6,87.7,55.7,...,195.0,34.1,17.0,39.0,14.0,32.0,83.0,0.7,62.5,46.5
1,Allegheny,1216045.0,-0.6,18.8,29.7,8.5,86.9,9.6,90.8,55.1,...,469.8,157.7,18.0,45.0,6.0,30.0,89.0,3.8,72.7,170.0
2,Armstrong,64735.0,-6.1,19.0,33.7,8.0,75.0,9.0,79.6,57.8,...,179.9,36.3,21.0,37.0,8.0,39.0,89.0,2.2,31.3,59.7
3,Beaver,163929.0,-3.9,19.1,33.7,7.4,79.6,9.0,83.5,58.5,...,343.8,101.3,21.0,40.0,8.0,34.0,86.0,1.7,48.2,69.3
4,Bedford,47888.0,-3.8,19.2,27.5,5.7,77.9,7.2,83.3,62.2,...,136.3,13.8,19.0,37.0,7.0,34.0,88.0,0.5,42.9,23.9

In [131]:
merged = pd.merge(features, outcomes[['County', 'Total_MetGoals','MetGoal_Reached']],
        how='inner', left_on='county_name', right_on='County').drop(columns='County')
merged.columns

Index(['county_name', 'population', 'pop_change_2010', 'perc_under_18',
       'perc_csec', 'perc_lowbirth', 'perc_prenat_1tri', 'perc_preterm',
       'perc_non_smoke', 'fert_15_44', 'birth_rate_15_19', 'birth_rate_20_24',
       'birth_rate_25_29', 'birth_rate_30_34', 'birth_date_35_39',
       'birth_rate_40_44', 'all_cause_death', 'chlam_per_100000',
       'gono_per_100000', 'perc_smoker', 'hiv_tested', 'perc_no_healthins',
       'perc_obese', 'perc_routine_checkup', 'beds_per_1000',
       'inpatient_occupancy_rate', 'admission_per_1000', 'Total_MetGoals',
       'MetGoal_Reached'],
      dtype='object')

In [132]:
## TODO: add ADI data
adi = pd.read_csv('neighborhood_ADI.csv', encoding='latin1')
print(adi.shape)
pd.unique(adi['EconomicStatus'])

(90, 2)

array(['Low Disadvantage', 'High Disadvantage', 'Very Low Disadvantage',
       'Extreme Disadvantage', 'Moderate Disadvantage', nan], dtype=object)

In [155]:
df = merged.sample(frac=2, random_state=123, replace = True)
n_outcome = merged.loc[merged['MetGoal_Reached'] == 0].sample(frac=7, random_state=123, replace=True).reset_index(False)
#dsu_outcome = merged.loc[merged['MetGoal_Reached'] == 'DSU'].sample(frac=2.5, random_state = 123, replace=True).reset_index(False)
df2 = pd.concat([df, n_outcome], ignore_index=True).drop(columns='index')
df2.replace({'.':None}, inplace=True)
df2.shape

(227, 29)

In [156]:
df2['MetGoal_Reached'].value_counts()

1    116
0    111
Name: MetGoal_Reached, dtype: int64

In [157]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   county_name               227 non-null    object
 1   population                227 non-null    float64
 2   pop_change_2010           227 non-null    float64
 3   perc_under_18             227 non-null    float64
 4   perc_csec                 227 non-null    float64
 5   perc_lowbirth             224 non-null    object
 6   perc_prenat_1tri          227 non-null    float64
 7   perc_preterm              227 non-null    float64
 8   perc_non_smoke            227 non-null    float64
 9   fert_15_44                227 non-null    float64
 10  birth_rate_15_19          225 non-null    object
 11  birth_rate_20_24          227 non-null    float64
 12  birth_rate_25_29          227 non-null    float64
 13  birth_rate_30_34          227 non-null    float64
 14  birth_date_35_39          225 non-null    object
 15  birth_rate_40_44          217 non-null    object
 16  all_cause_death           227 non-null    float64
 17  chlam_per_100000          227 non-null    float64
 18  gono_per_100000           213 non-null    object
 19  perc_smoker               227 non-null    float64
 20  hiv_tested                227 non-null    float64
 21  perc_no_healthins         227 non-null    float64
 22  perc_obese                227 non-null    float64
 23  perc_routine_checkup      227 non-null    float64
 24  beds_per_1000             227 non-null    float64
 25  inpatient_occupancy_rate  203 non-null    object
 26  admission_per_1000        227 non-null    float64
 27  Total_MetGoals            227 non-null    float64
 28  MetGoal_Reached           227 non-null    int32
dtypes: float64(21), int32(1), object(7)
memory usage: 50.7+ KB

In [158]:
df2['MetGoal_Reached'].value_counts()

1    116
0    111
Name: MetGoal_Reached, dtype: int64

In [159]:
df2.to_csv('health_outcomes.csv', index=False)